{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container container-100vh">
    <div class="row ml-1 mt-5 mt-md-2">
        <div class="col-12">
            <h3>Your Shopping Cart</h3>
        </div>
    </div>
    {% if cart_items %}
    <div class="row mb-4 ml-1">
        <div class="col-12 col-md-6">
            <h4>Items in your cart</h4>
        </div>
        <div class="col-12 col-md-6">
            {% include "cart/checkout-buttons.html" %}
        </div>
    </div>
    {% for item in cart_items %}
    <div class="row cart-art-row">
        <div class="col-12 col-lg-6">
            <div class="row mr-0 ml-0">
                <div class="col-12 mb-4 col-md-6 col-lg-4">
                    <img class="shopping-cart-image" src="{{ item.artwork.image.url }}"
                        alt="{{ artwork.friendly_name }}">
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <p>{{ item.artwork.friendly_name }}</p>
                    <p>By: {{ item.artwork.artist.friendly_name }}</p>
                    <p>Size: {{ item.artwork.size}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row mr-0 ml-0">
                <div class="col-6 col-lg-6">
                    <!--quantity form-->
                    <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-grey rounded-0" data-item_id="{{ item.id }}"
                                        id="decrement-qty_{{ item.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity"
                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item.id }}"
                                    id="id_qty_{{ item.item.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-grey rounded-0"
                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a class="update-link text-info"><small>Update</small></a>
                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small><i
                                class="fas fa-times"></i> Remove</small></a>
                </div>
                <div class="col-6 col-lg-6">
                    <p class="text-right">Price each: ${{ item.artwork.price }}</p>
                </div>
            </div>
            <div class="row mr-0 ml-0 mt-5">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6 text-total">
                    <p class="text-right">
                        Item subtotal: ${{ item.artwork.price | calc_subtotal:item.quantity }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--Cart totals-->
    <div class="row mt-4">
        <div class="col-12 text-right">
            <h5 class="mb-4">Cart subtotal: ${{ total|floatformat:2 }}</h5>
            <h5 class="mb-4">Delivery: ${{ delivery|floatformat:2 }}</h5>
            <h4 class="mb-4"><strong>Total: ${{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_delta > 0 %}
            <p>Get free delivery by adding <strong>${{ free_delivery_delta }}</strong> more to your cart.</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="row mt-4">
        <div class="col-12">
            <p class="lead mb-5">Your cart is empty.</p>
            <div class="col-6">
                <a href="{% url 'artworks' %}" class="btn btn-outline">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>

        </div>
    </div>
    {% endif %}
</div>
<!--Up arrow-->
<div class="btn-up border border-grey">
    <a class="link-up d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'artworks/includes/quantity_input_script.html' %}

<!--From Boutique Ado project-->
<script type="text/javascript">
    $('.link-up').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<!--From Boutique Ado project-->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}