{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col-7">
            <h3>Your Shopping Cart</h3>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="row">
                    <div class="col-7">
                        <h4>Items in your cart</h4>
                    </div>
                    <div class="col-5"><button>Secure checkout</button></div>
                    <div class="row">
                        <div class="col-12">
                            {% include "cart/cart-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% include "bag/checkout-buttons.html" %}
                            <p class="mb5 mt5">Cart summary below</p>
                        </div>
                    </div>
                </div>
            </div>
            {% for item in cart_items %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="col-12 col-lg-6">
                        {% include "cart/artwork-image.html" %}
                    </div>
                    <div class="col-12 col-lg-6">
                        {% include "cart/artwork-info.html" %}
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            {% include "cart/quantity-form.html" %}
                        </div>
                        <div class="col-6 col-lg-6">
                            Subtotal: ${{ item.artwork.price | calc_subtotal:item.quantity }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            {% include "cart/frame-form.html" %}
                        </div>
                        <div class="col-6 col-lg-6">
                            Frame price: ${{ item.artwork.price | calc_subtotal:frame }
            </div>
            </div>
            <div class="row"><div class="col"><hr></div></div>

        </div>
                        </div>
                               {% endfor %}   
                                               {% else %}
                    <p class="lead mb-5">Your cart is empty.</p>
                    <a href="{% url 'artworks' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}  
            </div>
    </div>
</div>


<!--Up arrow-->
<div class="btn-up border border-grey">
    <a class="link-up d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
                            <!--From Boutique Ado project-->
                            <script type="text/javascript">
                                $('.link-up').click(function (e) {
                                    window.scrollTo(0, 0)
                                })
                            </script>

                            {% endblock %}