{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
    {% block featured %}
    {% endblock %}
{% endblock %}

{% block content %}

<div class="container-fluid container-banner">
    <div class="row">
        <div class="block-featured col-md-5 col-12 my-auto">
            <h2 class="display-5 text-center">
                Featured collection
            </h2>
            <h2 class="display-5 text-center">
                Post Impressionists
            </h2>
            <div class="my-5">
                <h4>
                    <a href="" class="btn-featured btn btn-lg rounded-0 text-uppercase py-3 text-center">
                        View collection
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}