{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container-home">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="container-fluid container-banner">
    <div class="row">
        <div class="block-featured col-md-5 col-12 my-auto">
            <h2 class="display-5">
                Featured collection
            </h2>
            <h2 class="display-5">
                Post Impressionists
            </h2>
            <div class="my-5">
                <h4>
                    <a href="{% url 'artworks_featured' %}" class="btn-featured btn btn-lg rounded-0 text-uppercase">
                        View collection
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}