{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="display text-center mb-5 mt-2">{{ artwork.friendly_name }}</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 col-12 offset-1 pr-5">
            <a href="{{ artwork.image.url }}" target="_blank">
                <img class="img-fluid" src="{{ artwork.image.url }}" alt="{{ artwork.friendly_name }}">
            </a>
        </div>
        <div class="col-md-5 col-12">
            <h4 class="mb-3">By: {{ artwork.artist.friendly_name }}</h4>
            <h5 class="mb-2">About the artwork:</h5>
            <p class="mt-1 mb-0 small text-muted"><i class="fas fa-info-circle"></i> {{ artwork.description }}
            </p>
            <p class="mt-1 small text-muted mb-0"><i class="fas fa-paint-brush mr-1"></i>{{ artwork.original_medium }}
            </p>
            <p class="mt-1 mb-0">
                <a class="small text-muted" href="{% url 'artworks' %}?country={{ artwork.country.name }}">
                    <i class="fas fa-globe-africa mr-1"></i>{{ artwork.country.name }}
                </a>
            </p>
            <p class="mt-1 mb-0">
                <a class="small text-muted" href="{% url 'artworks' %}?category={{ artwork.category.name }}">
                    <i class="fas fa-tag mr-1"></i>{{ artwork.category.friendly_name }}
                </a>
            </p>
            <form class="form" action="{% url 'add_to_wishlist' artwork.id %}" method="POST">
                {% csrf_token %}
            <button class="mt-1 mb-0 wine" type="submit" ><i class="far fa-heart"></i> Save to wishlist</button>
            </form>
            <p class="lead mb-0 mt-3 text-left font-weight-bold">${{ artwork.price }}</p>
            {% if request.user.is_superuser %}
            <p class="mt-2">
                <a class="text-info" href="{% url 'edit_artwork' artwork.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_artwork' artwork.id %}">Delete</a>
            </p>
            {% endif %}
            <form class="form" action="{% url 'add_to_cart' artwork.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong></p>
                        <div class="form-group rounded-0 w-50">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-grey rounded-0" data-item_id="{{ artwork.id }}"
                                        id="decrement-qty_{{ artwork.id }}">
                                        <span class="icon">
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ artwork.id }}" id="id_qty_{{ artwork.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-grey rounded-0" data-item_id="{{ artwork.id }}"
                                        id="increment-qty_{{ artwork.id }}">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'artworks' %}" class="btn btn-outline">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <button type="submit" class="btn btn-purchase text-uppercase"><i class="fas fa-plus"></i> Add to
                            cart</button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'artworks/includes/quantity_input_script.html' %}
{% endblock %}