{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% 'checkout/css/checkout.css' %}">  
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container container-100vh">
    <div class="row">
        <div class="col-12">
            <h3>Checkout</h3>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
<!--Up arrow-->
<div class="btn-up border border-grey">
    <a class="link-up d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'artworks/includes/quantity_input_script.html' %}

<!--From Boutique Ado project-->
<script type="text/javascript">
    $('.link-up').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<!--From Boutique Ado project-->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}