@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dosis&family=IBM+Plex+Sans:wght@300;400&display=swap');

/*-------------------------------------------------General*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Stops website scrolling left and right on mobile:*/
html,
body {
    overflow-x: hidden; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #333333;
}

.footer {
    background-color: #333333;
    padding-top: 40px;
    height: 50px;
    color: white;
}

/*-------------------------------------------------Nav bar*/

.fixed-top {
    background-color: #B90039;
    padding-top: 15px;
}

.list-nav i,
.list-nav p {
    color: white;
}

.fa-search {
    color: white;
}

/*-------------------------------------------------Headings*/

.row-logo {
    margin-left: 40px;
}

.logo-first {
    position: relative;
    font-family: 'Bad Script', cursive;
    font-size: 2.75rem;
    color:white;
    text-align: right;
}

.logo-second {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: white;
}

h2 {
    font-size: 1.9rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

/*-------------------------------------------------Home page banner*/

.container-banner {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background: url('/media/home-img.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container-banner img {
  width: 100%;
}


/* Featured collection block for home page*/
.block-featured {

}

.btn-featured {
    background-color: #B90039
    color: white;
}

/*-------------------------------------------------Mediq queries*/

/*From Boutique Ado project*/
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}