@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dosis&family=IBM+Plex+Sans:wght@300;400&display=swap');

/*-------------------------------------------------General*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html { 
    height: 100%; 
    overflow-y:auto; 
    overflow-x: hidden; 
    width: 100%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #333333;
}

@media (min-width: 992px) {
    body {
        height: calc(100vh - 280px)
    }
}

@media (max-width: 991px) {
        body {
        height: calc(100vh - 250px)
    }
}

footer {
    background-color: #333333;
    padding-top: 40px;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

.wine {
    color: #B90039;
    font-size: 1rem;
}

.container-100vh {
    min-height: 300px;
}

a {
    color: #b90039;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

/*-------------------------------------------------Nav bar*/

.fixed-top {
    background-color: #B90039;
    padding-top: 15px;
}

.row-nav {
    background-color: #B90039;
}

.list-nav i,
.list-nav p {
    color: white;
}

.nav-link {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

@media (max-width: 992px) {
    .list-nav p {
        font-size: 0.8rem;
    }

    .nav-link {
        padding: 0.5rem;
    }
}

.fa-search {
    color: white;
}

#main-nav a {
    color: white;
}

#main-nav {
    padding-left: 0px;
}

.dropdown-menu {
    background-color: #B90039;
    border-radius: 0;
}

.dropdown-item:focus, 
.dropdown-item:hover {
    background-color: #dc3545;
}

.dropdown-item {
    color: white;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffff;
    text-decoration: none;
    background-color: #dc3545;
}

/*Search bar input field*/
#search-input {
    border-radius: 0;
}

/*-------------------------------------------------Headings*/

.row-logo {
    margin-left: 40px;
}

.logo-first {
    position: relative;
    font-family: 'Bad Script', cursive;
    font-size: 2.75rem;
    color:white;
    text-align: right;
}

.logo-second {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: white;
    padding-left: 10px;
}

@media (max-width: 992px) {
    .logo-second {
        font-size: 1.5rem;
    }

    .logo-first {
        font-size: 2rem;
    }

    .row-logo {
        margin-left: 0px;
    }
}

h2 {
    font-size: 1.9rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: white;
}

.h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #333333;
}

.h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500 !important;
    font-size: .9rem;
}

.heading-inline {
    display: inline;
}

.heading-grey {
    color: #333333;
}

.row-header {
    margin-bottom: 20px;
}

/*-------------------------------------------------Buttons*/

.btn-featured {
    background-color: #B90039;
    color: white;
}

.btn-white {
    background-color: white;
    color: #333333;
    margin-left: 15px;
    font-size: 1.1rem;
    padding: 7px 10px;
}

.btn-purchase {
    background-color: #B90039;
    color: white;
    margin-top: 15px;
    border-radius: 0;    
    padding: 5px 10px;
    border: 2px solid #B90039;
}

.btn-profile-primary {
    background-color: #B90039;
    color: white;
    margin-top: 15px;
    border-radius: 0;    
    padding: 7px 10px;
}

.btn-profile-primary:focus {
    border-radius: 0; 
    outline: none;
}

.btn-purchase:hover, 
.btn-profile-primary:hover {
    background-color: #f32a61;
    color: white;
}

.margin-bottom-btn {
    margin-bottom: 1.2rem!important;
}

.btn-outline {
    border: solid 2px #B90039;
    color: #B90039;
    margin-top: 15px;
    border-radius: 0;
    background-color: white;
    padding: 5px 10px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    border: solid 2px #f32a61;
    color: #f32a61;
}

.btn-grey {
    background-color: #333333;
    color: white;
}

/*-------------------------------------------------Artworks sorting*/

/* a.category-badge > span.badge:hover {
    background: #dc3545 !important;
    color: #fff !important;
} */

#sort-selector {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*-------------------------------------------------Home page banner*/

.container-banner {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background: url('/media/home-img.jpg') no-repeat top right fixed;
    background-size: cover;
    height: 450px;
    position: relative;
}

@media (min-width: 992px) {
    .container-banner {
        height: calc(100vh - 138px);
        position: relative;
    }
}

/* Featured collection block for home page*/
.block-featured {
    height: 60%;
    bottom: 0px;
    position: absolute;
    padding-left: 90px;
    padding-top: 40px;
    background-color: rgba(25, 24, 24, 0.81);
}

/*-------------------------------------------------Featured banner*/

.featured-collection-banner {
    position: absolute;
    top: 188px;
    z-index: 1;
    background-color: #333333;
    width: 100%;
    color: white;
    padding: 10px 0;
}

/*-------------------------------------------------Media queries*/

/*From Boutique Ado project*/
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 280px;
    } 

    .header-container-home {
        padding-top: 230px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container, 
    .header-container-home {
        padding-top: 230px;
    }
    
    .featured-collection-banner {
        top: 150px;
    }
}

/*-------------------------------------------------Bread crumbs*/
.breadcrumbs {
    margin-top: 10px;
}

/*-------------------------------------------------Artwork cards*/

.card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-y: hidden;
}

/*-------------------------------------------------Up arrow*/

.btn-up {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.link-up, 
.update-link, 
.remove-item {
    cursor: pointer;
}

/*-------------------------------------------------Cart*/

.shopping-cart-image {
    max-width: 100%;
    margin-bottom: 20;
}

.cart-art-row {
    margin-bottom: 30px;
}

.text-total {
    border-bottom: solid #80808094 1px;
    font-weight: 600;
}

/*-------------------------------------------------Toasts*/

.toast-body-wrapper {
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wunderlust-toast {
    overflow: visible;
}

.close {
    opacity: .8;
}

.toast-header-success{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: white;
    background-color: #0A8525;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    font-size: 1rem;
}

.toast-artwork-details > p{
    margin-bottom: 0px;
    font-size: .8rem;
}

.toast-capper {
    height: 6px;
}

.message-container {
    position: fixed;
    top: 180px;
    right: 15px;
    z-index: 99999999999;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-success-green {
    border-bottom-color: #0A8525 !important;
}


.arrow-error-orange {
    border-bottom-color: #ff691d !important;
}

.bg-error-orange {
    background-color: #ff691d;
}

.arrow-info-blue {
    border-bottom-color:#07c5e3 !important;
}

.bg-info-blue {
    background-color: #07c5e3;
}

.arrow-warning-yellow {
    border-bottom-color:#ffc107 !important;
}

/*-------------------------------------------------Forms*/

.form-control {
    border-radius: 0;
}

.border-grey {
    border: 1px solid #333333 !important;
    border-radius: 0;
}
