<div class="collapse navbar-collapse navbar-dark col-12 order-1" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Art
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-art-link">
                <a href="" class="dropdown-item">By category</a>
                <a href="" class="dropdown-item ">By artist</a>
                <a href="" class="dropdown-item ">By price</a>
                <a href="" class="dropdown-item">By latest added</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="artists-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artist-link">
                <a href="" class="dropdown-item">Giotto di Bondone</a>
                <a href="" class="dropdown-item">Sandro Botticelli</a>
                <a href="" class="dropdown-item">Caravaggio</a>
                <a href="" class="dropdown-item">Leonardo da Vinci</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="countries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Countries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="country-link">
                <a href="" class="dropdown-item">Austria</a>
                <a href="" class="dropdown-item">Italy</a>
                <a href="" class="dropdown-item">France</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="" class="dropdown-item">Expressionism</a>
                <a href="" class="dropdown-item">Cubism</a>
                <a href="" class="dropdown-item">Impressionism</a>
                <a href="" class="dropdown-item">Post-impressionism</a>
            </div>
        </li>
    </ul>
</div>